@media all and (max-width: 1000px) {
  /*page 3*/
  .tanggal2 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 40px;
    padding-top: 83px;
    padding-right: 30px;
    text-align: center;
    width: 15cm;
    float: right;
    white-space: nowrap;
  }

  .tanggal2 .tgl5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 30px;
    width: 15cm;
    float: center;
    white-space: nowrap;
  }

  /*Alamat*/
  .alamat1 {
    text-align: center;
  }
  .tempat1 {
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    padding-top: 10cm;
  }

  .material-symbols-outlined {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    bottom: 2px;
  }

  .btn {
    font-family: "Montserrat", sans-serif;
  }

  /*page 3*/
  .akd {
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: black;
    font-size: 40px;
    padding: 5cm 0px 0px 0px;
  }

  .linkig {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
  }

  .instagramy {
    margin-left: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  .instagrams {
    margin-right: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  /*foto terakhir*/
  .our17 {
    width: 50%;
    height: 175px;
    position: relative;
    max-width: 50%;
    object-fit: cover;
    padding: 5px 5px;
    float: left;
  }
}

@media all and (max-width: 670px) {
  /*page 1*/
  * {
    margin-right: 0;
  }
  /*page 2*/
  .img-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 0px 0cm 0px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-2 {
    display: inline-block;
    margin: 0px 0px 0px 0px;
    padding: 20px 0cm 0px 80px;
    width: 40%;
    float: center;
    position: relative;
  }

  .img-3 {
    display: inline-block;

    margin: 0px 0px 0px 0px;
    padding: 20px 80px 0px 0px;
    width: 40%;
    float: right;
    position: relative;
  }

  .textp {
    letter-spacing: 0;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-align: center;
    padding: 30px 0px 0px 0px;
    font-size: 15px;
  }

  .texty {
    position: absolute;
    float: left;
    color: black;
    font-size: 13px;
    padding: 140px 300px 0px 0px;
    margin-rignt: -290px;
  }

  .texts {
    display: inline-block;
    float: right;
    color: black;
    font-size: 13px;
    padding: 0px 0px 0px 305px;
  }
  /*page 4*/
  .akd {
    font-family: "Vollkorn", serif;
    font-weight: 500;
    color: black;
    font-size: 50px;
    padding: 5cm 0px 0px 0px;
  }

  .linkig {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
  }

  .instagramy {
    margin-left: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  .instagrams {
    margin-right: 1cm;
    pading: 10px 10px;
    text-decoration: none;
  }

  /*page 3*/
  .judul1 .tglj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: center;
    font-family: "Vollkorn", serif;
    font-weight: 500;
    padding: 0cm 0cm 0cm 0cm;
    font-size: 70px;
    white-space: nowrap;
  }

  .tanggal1 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 40px;
    padding-top: 20px;
    padding-right: 0px;
    text-align: center;
    width: 13cm;
    float: right;
    white-space: nowrap;
  }

  .tanggal1 .tgl3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
    width: 13cm;
    float: center;
    white-space: nowrap;
  }

  .tanggal2 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 40px;
    padding-top: 30px;
    padding-right: 0px;
    text-align: center;
    width: 13cm;
    float: right;
    white-space: nowrap;
  }

  .tanggal2 .tgl5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 25px;
    width: 13cm;
    float: center;
    white-space: nowrap;
  }

  /*Alamat*/
  .alamat1 {
    text-align: center;
  }
  .tempat1 {
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    padding-top: 10cm;
  }

  .material-symbols-outlined {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    bottom: 2px;
  }

  .btn {
    font-family: "Montserrat", sans-serif;
  }
  /*foto terakhir*/
  .our17 {
    width: 50%;
    height: 112px;
    position: relative;
    max-width: 50%;
    object-fit: cover;
    padding: 5px 5px;
    float: left;
  }
}
